package pages

import "web-boilerplate/ui/layouts"

templ Login() {
	@layouts.BaseLayout() {
		<div class="flex justify-center items-center h-screen p-4">
			<div class="card w-full max-w-96 gap-4">
				<input type="email" placeholder="Email" class="input input-bordered w-full"/>
				<input type="password" placeholder="Password" class="input input-bordered w-full"/>
				<input type="submit" class="btn btn-primary" value="Login!"/>
			</div>
		</div>
	}
}
